<div class="page-content bg-light">
    <!--banner-->
    <div class="dz-bnr-inr dz-bnr-inr-lg style-2" style="background-image: url('assets/images/background/bg7.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="dz-bnr-inr-entry mb-0">
                        <h1>The Impact of What We Do How We Make a Difference</h1>
                        <nav aria-label="breadcrumb" class="breadcrumb-row style-1">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                                <li class="breadcrumb-item">What We Do</li>
                            </ul>
                        </nav>
                        <div class="dz-media wow fadeInUp " data-wow-delay="0.3s">
                            <img src="assets/images/about/pic13.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content-inner about-style3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="whatwedo-box">
                        <div class="about-content">
                            <div class="section-head wow fadeInUp" data-wow-delay="0.4s">
                                <h4 class="title">Our Mission</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                
                                <h4 class="title">Our Vision</h4>
                                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                            </div>
                            <div class="row justify-content-center m-b30 text-lg-start text-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="exp-head">
                                        <div class="counter-num">
                                            <h2><span class="counter">40</span>k+</h2>
                                        </div>
                                        <span class="counter-title">Happy Customer</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="exp-head">
                                        <div class="counter-num">
                                            <h2><span class="counter">21</span>+</h2>
                                        </div>
                                        <span class="counter-title">Years in Business</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="exp-head">
                                        <div class="counter-num">
                                            <h2><span class="counter">98</span>%</h2>
                                        </div>
                                        <span class="counter-title">Return Clients</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 p-a0 mb-5">
                    <div class="about-thumb wow fadeInUp" data-wow-delay="0.8s">
                        <img src="assets/images/lady3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>	

    <!-- LOGO-SECTHION-End -->

    <div class="content-inner about-inner bg-parallax" style="background: url(assets/images/background/bg3.jpg), lightgray 50% ; background-position: center;"></div>


    <section class="content-inner-2 overlay-white-dark overflow-hidden before-remover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pe-lg-5">
                    <div class="about-thumb">
                        <img src="assets/images/about/pic3.jpg" alt="">
                    </div>
                </div>	
                <div class="col-lg-6 mb-xl-5 mb-sm-0">
                    <div class="section-head style-2 wow fadeInUp m-md-r100 m-t40 mb-4" data-wow-delay="0.1s" >
                        <h2 class="title">Illuminate Beauty Timeless Confidence.</h2>
                        <p>At Glower Glow, we believe in empowering your beauty journey. Our curated collection of radiant products is designed to enhance your natural allure, fostering timeless confidence. Discover the glow within, effortlessly.</p>	
                    </div>
                    <ul class="about-list">
                        <li>Aromatherapy</li>
                        <li>hydrotherapy</li>
                        <li>Reflexology</li>
                        <li>Stone massage</li>
                        <li>Myofascial Release</li>
                        <li>Craniosacra Therapy</li>
                        <li>Thai Massage</li>
                        <li>massage</li>
                    </ul>
                    <a class="btn btn-outline-secondary btn-lg me-3 mt-3" href="shop-standard.html">READ MORE</a>
                </div>	
            </div>
        </div>
    </section>
    

    <section class="content-inner pb-5">
        <div class="container">
            <div class="row g-3 g-xl-4">
                <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12">
                    <div class="section-head ">
                        <h2 class="title">Meet Our Team Behind Glower Glow's Radiant Success.</h2>
                        <p class="mt-3">Discover the magic behind Glower Glow—our dynamic team of experts dedicated to crafting beauty innovations that redefine radiance.</p>
                        <a class="btn btn-secondary btn-lg me-3 mt-3" href="registration.html">MEET OUR TEAM</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30">
                        <div class="dz-media">
                            <a href="our-team.html"><img src="assets/images/team/pic1.jpg" alt=""></a>
                            <ul class="team-social-icon">
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="dz-content">
                            <h5 class="title"><a href="our-team.html">Macauley Herring</a></h5>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30">
                        <div class="dz-media">
                            <a href="our-team.html"><img src="assets/images/team/pic2.jpg" alt=""></a>
                            <ul class="team-social-icon">
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="dz-content">
                            <h5 class="title"><a href="our-team.html">Ivan Mathews</a></h5>
                            <span>iOS Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30 m-md-b0 m-sm-b0 mb-2">
                        <div class="dz-media">
                            <a href="our-team.html"><img src="assets/images/team/pic3.jpg" alt=""></a>
                            <ul class="team-social-icon">
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="dz-content">
                            <h5 class="title"><a href="our-team.html">Macauley Herring </a></h5>
                            <span>Customer Success</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30">
                        <div class="dz-media">
                            <a href="our-team.html"><img src="assets/images/team/pic4.jpg" alt=""></a>
                            <ul class="team-social-icon">
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="dz-content">
                            <h5 class="title"><a href="our-team.html">Alya Levine</a></h5>
                            <span>CTO </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30">
                        <div class="dz-media">
                            <a href="our-team.html"><img src="assets/images/team/pic5.jpg" alt=""></a>
                            <ul class="team-social-icon">
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="dz-content">
                            <h5 class="title"><a href="our-team.html">Rose Hernandez </a></h5>
                            <span>Backend Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="dz-team style-1 m-md-b0 m-sm-b0 m-b30">
                        <div class="dz-media">
                            <a href="our-team.html"><img src="assets/images/team/pic6.jpg" alt=""></a>
                            <ul class="team-social-icon">
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="dz-content">
                            <h5 class="title"><a href="our-team.html">Elen Benitez </a></h5>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>