<div class="page-content">
    <!--banner-->
    <div class="dz-bnr-inr" style="background-image:url(assets/images/background/bg1.jpg);">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Blog Post Style 3</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                        <li class="breadcrumb-item">blog-post-style-3</li>
                    </ul>
                </nav>
            </div>
        </div>	
    </div>
    
    <section class="content-inner-1 z-index-unset bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/1.jpg" alt="">
                            <div class="post-date">11 January 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Transform Your Skin With Potent Age-Defying Serums.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/2.jpg" alt="">
                            <div class="post-date">02 July 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Unlock Age-Defying Secrets With Potent Formulas.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/3.jpg" alt="">
                            <div class="post-date">25 February 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Harness The Power Of Age-Defying Ingredients.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/4.jpg" alt="">
                            <div class="post-date">08 June 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Restore Moisture Balance With Hydrating Creams.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/5.jpg" alt="">
                            <div class="post-date">24 September 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Restore Moisture Balance With Hydrating Creams.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/6.jpg" alt="">
                            <div class="post-date">04 November 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Unveil Eternal Beauty With Powerful Skincare.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/7.jpg" alt="">
                            <div class="post-date">17 March 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Illuminate Your Beauty with Potent Anti-Wrinkle.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/8.jpg" alt="">
                            <div class="post-date">13 December 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Pamper skin, indulge senses, relax, unwind.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/9.jpg" alt="">
                            <div class="post-date">26 August 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Customize regimen, address needs, achieve results.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/10.jpg" alt="">
                            <div class="post-date">24 July 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Combat aging, restore elasticity, firm and lift.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/11.jpg" alt="">
                            <div class="post-date">12 June 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Uncovering the Beauty Benefits of Plant</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp">
                    <div class="dz-card style-1">
                        <div class="dz-media">
                            <img src="assets/images/blog/blogpost-2/12.jpg" alt="">
                            <div class="post-date">04 August 2022</div>
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title mb-0">
                                <a href="post-standard.html">Hydrate deeply for a plump, youthful appearance.</a>
                            </h4>
                            <ul class="dz-share">
                                <li>
                                    <a class="share-btn" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>								
                                    <ul class="dz-social-icon">
                                        <li><a href="https://www.facebook.com/indiankoder" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-sm-4 mt-2 wow fadeInUp" data-wow-delay="0.7s">
                    <a href="blog-3-column.html" class="btn btn-outline-secondary btn-lg">
                        Loadmore
                    </a>
                </div>
            </div>
        </div>
    </section>
    
</div>